<h3 id="research">research areas</h3>
<p><br></p>

<p><img src="assets/img/behavior-blog-post-image12.gif" alt="image" style="float: left; width: 300px; height: 200px; margin-right:50px;"></p>

<h5 id="learning-abstractions-for-planning">Learning abstractions for hierarchical planning</h5>

<p>Abstractions allow robots to first focus on the high-level aspects of a task before getting bogged down in details. We would like a robot to automatically learn abstractions&mdash;<a href="https://arxiv.org/abs/2203.09634" target="_blank" rel="noopener noreferrer">state abstractions (predicates)</a> and <a href="https://arxiv.org/abs/2206.10680" target="_blank" rel="noopener noreferrer">action abstractions (skills)</a>&mdash;that are specialized for planning in its domain. We are especially interested in abstractions for <a href="https://arxiv.org/abs/2010.01083">task and motion planning</a>. (Image credit: <a href="https://nishanthjkumar.com/">Nishanth Kumar</a>)</p>

<p><br></p>

<p><video controls width="300" autoplay loop style="float: left; margin-top:10px; margin-right:50px;"><source src="assets/video/blocksworld-program-synthesis.mp4" type="video/mp4" /></p>
<h5 id="program-synthesis-for-planning">Program synthesis for planning</h5>

<p>We want robots to be like self-supervised software engineers, writing their own code and growing libraries that can be used to solve increasingly difficult decision-making problems. We use <a href="https://arxiv.org/abs/2305.11014">LLMs</a>, <a href="https://arxiv.org/abs/1904.06317">Bayesian program learning</a>, <a href="https://arxiv.org/abs/2005.02259">inductive logic programming</a>, <a href="https://arxiv.org/abs/2109.11082">SAT solvers</a>, and <a href="https://arxiv.org/abs/2204.10420">heuristic search</a> to synthesize programs.</p>

<p><br><br></p>

<p><video controls width="300" autoplay loop style="float: left; margin-top:10px; margin-right:50px;"><source src="assets/video/ploi-compressed.mp4" type="video/mp4" /></p>
<h5 id="learning-to-accelerate-planning">Learning to accelerate planning</h5>

<p>TODO</p>

<p><br><br></p>

<p><img src="assets/img/polco.png" alt="image" style="float: left; width: 300px; height: 200px; margin-right:50px;"></p>
<h5 id="planning-to-learn">Planning to learn</h5>
<p>TODO</p>

<p><br><br></p>