<h3 id="research">research areas</h3>
<p><br></p>

<p><img src="assets/img/calm.png" alt="image" style="float: left; width: 240px; height: 240px; margin-right:50px;"></p>

<h5 id="learning-abstractions-for-planning">Learning abstractions for hierarchical planning</h5>

<p>Abstractions can be very useful for decision making because they allow the robot to first focus on the high-level aspects of a task before getting bogged down in details. We would like a robot to synthesize abstractions&mdash;<a href="https://arxiv.org/abs/2203.09634" target="_blank" rel="noopener noreferrer">state abstractions (predicates)</a>, <a href="https://arxiv.org/abs/2206.10680" target="_blank" rel="noopener noreferrer">action abstractions (skills)</a>, and <a href="https://arxiv.org/abs/2009.05613">task abstractions (relevant objects)</a>&mdash;that are most useful for planning in its specific domain. We are especially interested in abstractions that allow us to use very powerful hierarchical planners like those in <a href="https://arxiv.org/abs/2010.01083">TAMP</a>.</p>

<p><br></p>

<p><img src="assets/img/emma.png" alt="image" style="float: left; width: 240px; height: 240px; margin-right:50px;"></p>
<h5 id="program-synthesis-for-planning">Program synthesis for planning</h5>

<p>TODO</p>

<p><br><br></p>

<p><img src="assets/img/attention-guidance.png" alt="image" style="float: left; width: 240px; height: 240px; margin-right:50px;"></p>
<h5 id="learning-to-accelerate-planning">Learning to accelerate planning</h5>

<p>TODO</p>

<p><br><br></p>

<p><img src="assets/img/polco.png" alt="image" style="float: left; width: 240px; height: 240px; margin-right:50px;"></p>
<h5 id="planning-to-learn">Planning to learn</h5>
<p>TODO</p>

<p><br><br></p>